.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-image: url('bg-masthead.jpg');
  background-image: url('ows1.jpeg');
  /* linear-gradient(black, white) */
  /* background-image: url('swim1.jpeg');
  background-image: url('BridgetoBridgeSwim-111.jpeg'); */
}