.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}

.label,
.button {
  margin-left: 0.5rem !important;
  
  
}

.button {
  margin: 10px !important;
}

.inputContainer {
  margin-bottom: 1rem;
}
