.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}

.label {
  margin-left: 0.5rem !important;
  font-size: 1rem !important;
  padding: 0.5rem;
  display: inline-block !important;
  width: 150px;
  text-align: right;
}

label {
  margin-left: 0.5rem !important;
  font-size: 1rem !important;
}

.button {
  margin: 10px !important;
}

.inputContainer {
  margin-bottom: 1rem;
}


