.label {
  margin-left: 0.5rem !important;
  font-size: 1rem !important;
  padding: 0.5rem;
  display: inline-block !important;
  width: 200px;
  text-align: left;
}

label {
  margin-left: 0.5rem !important;
  font-size: 1rem !important;
  /* padding: 0.5rem; */
}

.main {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  /* display: flex !important;
  align-items: center !important;
  justify-content: center; */
  margin-left: 30%;
}