.details {
  display: flex;
  gap: 2rem; 
  width: 80%;
  margin: 9rem auto 2rem;
}

p {
  margin-left: 1rem; 
}

.label {
  margin-left: 5rem !important; 
}

.input {
  margin-left: 1rem !important;
  width: 50vw; 
}

.comment {
  display: flex; 
}

