.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.inputContainer {
  margin-bottom: 1rem;
}

.label {
  margin-left: 0.5rem ;
  font-size: 1rem ;
  padding: 0.5rem;
  display: inline-block !important;
  width: 150px;
  text-align: right;
}


.space {
  margin-bottom: 18rem;
}

.button {
  margin-right: 0.5rem !important;
}

